section#about.section.about
  .wrap
    h1.section__title.about__title.line О НАС

    article.about__article
      h5.article__title Adamant — это сверх уровень цифровой сферы

      p.article__text.
        Забудьте про super, best и luxury. Репутационное
        продвижение, повышающее узнаваемость бренда,
        грамотно разработанная маркетинговая кампания и реклама
        в социальных сетях — это всего лишь основа, кристалл

      p.article__text.
        <b>ADAMANT MEDIA GROUP</b> — мы превращаем необработанный
        алмаз вашей бизнес-идеи в сверкающий бриллиант
        успешного бренда. Делаем больше, чем от нас ожидают

    .about__stats
      .stats__item
        svg.stats__icon(width="60" height="55")
          use(xlink:href="#icon-about-1")
        .stats__content
          h1.stats__number >5
          p.stats__text.
            лет<br>
            работы

      .stats__item
        svg.stats__icon(width="59" height="55")
          use(xlink:href="#icon-about-2")
        .stats__content
          h1.stats__number 570+
          p.stats__text.
            рекламных<br>
            кампаний

      .stats__item
        svg.stats__icon(width="59" height="54")
          use(xlink:href="#icon-about-3")
        .stats__content
          h1.stats__number.
            2,5<sup>млн</sup>
          p.stats__text лидов

      .stats__item
        svg.stats__icon(width="58" height="54")
          use(xlink:href="#icon-about-4")
        .stats__content
          h1.stats__number.
            23<sup>млрд</sup>
          p.stats__text.
            выручки<br>
            у клиентов
