section#cases.section.cases
  .wrap
    h1.section__title.cases__title.line КЕЙСЫ

    .cases__plates
      .plates__item.plates__item--1-3
        img.plates__img(src="img/cases/preview/1.jpg", alt="Превью кейса")
        a.plates__hover(href="case1.html")
          p.plates__text Ленись и худей

      .plates__item.plates__item--3-4
        img.plates__img(src="img/cases/preview/2.jpg", alt="Превью кейса")
        a.plates__hover(href="case2.html")
          p.plates__text МЮЗ

      .plates__item.plates__item--1-2
        img.plates__img(src="img/cases/preview/3.jpg", alt="Превью кейса")
        a.plates__hover(href="case3.html")
          p.plates__text Acuvue

      .plates__item.plates__item--2-4
        img.plates__img(src="img/cases/preview/4.jpg", alt="Превью кейса")
        a.plates__hover(href="case4.html")
          p.plates__text Код крови

      .plates__item.plates__item--4-5
        img.plates__img(src="img/cases/preview/5.jpg", alt="Превью кейса")
        a.plates__hover(href="case5.html")
          p.plates__text Позвоночник

      .plates__item.plates__item--2-3
        img.plates__img(src="img/cases/preview/6.jpg", alt="Превью кейса")
        a.plates__hover(href="case6.html")
          p.plates__text ЯВольт

      .plates__item.plates__item--3-5
        img.plates__img(src="img/cases/preview/7.jpg", alt="Превью кейса")
        a.plates__hover(href="case7.html")
          p.plates__text Винтажное похудение