-
  var cases_plates = [
    {
      'size': '--1-3',
      'img': 'img/keysy/preview/pohudenie.jpg',
      'href': 'keysy/pohudenie',
      'title': 'Похудение'
    },
    {
      'size': '--3-4',
      'img': 'img/keysy/preview/yuvelirnye_izdeliya.jpg',
      'href': 'keysy/yuvelirnye_izdeliya',
      'title': 'Ювелирные изделия'
    },
    {
      'size': '--1-2',
      'img': 'img/keysy/preview/korrekciya_zreniya.jpg',
      'href': 'keysy/korrekciya_zreniya',
      'title': 'Коррекция зрения'
    },
    {
      'size': '--2-4',
      'img': 'img/keysy/preview/diagnostika_krovi.jpg',
      'href': 'keysy/diagnostika_krovi',
      'title': 'Диагностика крови'
    },
    {
      'size': '--4-5',
      'img': 'img/keysy/preview/lechenie_pozvonochnika.jpg',
      'href': 'keysy/lechenie_pozvonochnika',
      'title': 'Лечение позвоночника'
    },
    {
      'size': '--2-3',
      'img': 'img/keysy/preview/elektromontazj.jpg',
      'href': 'keysy/elektromontazj',
      'title': 'Электромонтаж'
    },
    {
      'size': '--3-5',
      'img': 'img/keysy/preview/snizjenie_vesa.jpg',
      'href': 'keysy/snizjenie_vesa',
      'title': 'Снижение веса'
    },
  ];

section#cases.section.cases
  .wrap
    h1.section__title.cases__title.line КЕЙСЫ

    .cases__plates
      each item in cases_plates
        .plates__item(class="plates__item" + item.size)
          img.plates__img(src= item.img, alt= item.title, title= item.title)
          a.plates__hover(href= item.href)
            p.plates__text= item.title

    a.c-btn.c-btn--arrow--purple.cases__btn(href='keysy') подробнее
      svg.c-btn__arrow(width="59" height="15")
        use(xlink:href="#icon-arrow")