-
  var cases = [
    {
      'img': 'img/cases/1.jpg',
      'href': 'case1.html',
      'article': [
        {
          'title': 'Цели и задачи',
          'text': `Увеличение клиентской базы. Создание, подготовка и
                  продвижение новых акций.`
        },
        {
          'title': 'Результат',
          'text': `Значимость этих проблем настолько очевидна, что
                  постоянное информационно-пропагандистское обеспечение нашей
                  деятельности требуют определения и уточнения новых предложений.
                  Товарищи! начало повседневной работы по формированию позиции
                  представляет собой интересный эксперимент проверки
                  систем массового участия.`
        },
      ]
    },
    {
      'img': 'img/cases/2.jpg',
      'href': 'case2.html',
      'article': [
        {
          'title': 'Цели и задачи',
          'text': `Запуск акции на 1 месяц.
                  Приглашение новых клиентов в салон.`
        },
        {
          'title': 'Результат',
          'text': `За месяц акции «Ложка загребушка в подарок» привлечено
                  1200 новых клиентов. Цена заявки 500 ₽.`
        },
      ]
    },
    {
      'img': 'img/cases/3.jpg',
      'href': 'case3.html',
      'article': [
        {
          'title': 'Цели и задачи',
          'text': `Месячная акция по привлечению новых клиентов в салоны города`
        },
        {
          'title': 'Результат',
          'text': `За месяц акции «Получи пару линз в подарок» привлечено
                  около 3500 новых клиентов по г. Москва. Цена заявки 400 - 600 ₽`
        },
      ]
    },
    {
      'img': 'img/cases/4.jpg',
      'href': 'case4.html',
      'article': [
        {
          'title': 'Цели и задачи',
          'text': `Разработка и запуск акции для одной из процедур клиники`
        },
        {
          'title': 'Результат',
          'text': `Создано 3 лендинга, за 2 месяца акции «Код Крови» привлечено
          1 055 новых клиентов. Цена заявки 700 ₽`
        },
      ]
    },
    {
      'img': 'img/cases/5.jpg',
      'href': 'case5.html',
      'article': [
        {
          'title': 'Цели и задачи',
          'text': `Разработка и запуск акции для новой процедуры клиники`
        },
        {
          'title': 'Результат',
          'text': `Создано 4 лендинга, за 3 месяца акции привлечено 1 370
                  новых клиентов. Цена заявки 1 100 ₽`
        },
      ]
    },
    {
      'img': 'img/cases/6.jpg',
      'href': 'case6.html',
      'article': [
        {
          'title': 'Цели и задачи',
          'text': `Увеличение количества заказов, расширение спектра
                  предоставляемых услуг, запуск кампании в Яндекс.Директ`
        },
        {
          'title': 'Результат',
          'text': `Разработан новый логотип компании, создано 4 лендинга
                  под разные ЦА, к ним подключена CRM-система и виртуальный номер
                  для динамического call-трекинга. Запущены 4 рекламные кампании
                  в Яндекс.Директ. За 2 месяца сгенерировано больше 200 лидов.
                  Средняя стоимость лида 1 090 ₽. Approve — 70%. 73
                  новых заказа за 2 месяца.`
        },
      ]
    },
    {
      'img': 'img/cases/7.jpg',
      'href': 'case7.html',
      'article': [
        {
          'title': 'Цели и задачи',
          'text': `Увеличение количества заказов, расширение спектра
                  предоставляемых услуг, запуск кампании в Яндекс.Директ`
        },
        {
          'title': 'Результат',
          'text': `Разработан новый логотип компании, создано 4 лендинга
                  под разные ЦА, к ним подключена CRM-система и виртуальный номер
                  для динамического call-трекинга. Запущены 4 рекламные кампании
                  в Яндекс.Директ. За 2 месяца сгенерировано больше 200 лидов.
                  Средняя стоимость лида 1 090 ₽. Approve — 70%. 73
                  новых заказа за 2 месяца.`
        },
      ]
    },
    {
      'img': 'img/cases/8.jpg',
      'href': 'case8.html',
      'article': [
        {
          'title': 'Цели и задачи',
          'text': `Увеличение количества заказов, расширение спектра
                  предоставляемых услуг, запуск кампании в Яндекс.Директ`
        },
        {
          'title': 'Результат',
          'text': `Разработан новый логотип компании, создано 4 лендинга
                  под разные ЦА, к ним подключена CRM-система и виртуальный номер
                  для динамического call-трекинга. Запущены 4 рекламные кампании
                  в Яндекс.Директ. За 2 месяца сгенерировано больше 200 лидов.
                  Средняя стоимость лида 1 090 ₽. Approve — 70%. 73
                  новых заказа за 2 месяца.`
        },
      ]
    },
    {
      'img': 'img/cases/9.jpg',
      'href': 'case9.html',
      'article': [
        {
          'title': 'Цели и задачи',
          'text': `Увеличение количества заказов, расширение спектра
                  предоставляемых услуг, запуск кампании в Яндекс.Директ`
        },
        {
          'title': 'Результат',
          'text': `Разработан новый логотип компании, создано 4 лендинга
                  под разные ЦА, к ним подключена CRM-система и виртуальный номер
                  для динамического call-трекинга. Запущены 4 рекламные кампании
                  в Яндекс.Директ. За 2 месяца сгенерировано больше 200 лидов.
                  Средняя стоимость лида 1 090 ₽. Approve — 70%. 73
                  новых заказа за 2 месяца.`
        },
      ]
    },
  ];

section#cases-inner.section.cases-inner
  .wrap
    h1.section__title.cases-inner__title.line КЕЙСЫ

    ul.c-breadcrumbs.cases-inner__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="") Кейсы

    .cases-inner__plates
      each item in cases
        .plates__item
          img.plates__img(src= item.img)
          .plates__content
            each article in item.article
              h5.plates__title= article.title
              p.plates__text= article.text
          a.c-btn.c-btn--arrow--purple.cases-inner__btn(href= item.href target="_blank") Подробнее
              svg.c-btn__arrow(width="59" height="15")
                use(xlink:href="#icon-arrow")