section#clients.section.clients.js-clients
  .wrap
    h1.section__title.clients__title.line КЛИЕНТЫ

    .clients__plates
      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/1.png", alt="Медицинский центр Елены Малышевой")
        a.plates__link(href="javascript:void(0)" data-modal='#modal-reviews-1') читать отзыв

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/2.png", alt="Московский ювелирный завод")
        a.plates__link(href="javascript:void(0)" data-modal='#modal-reviews-2') читать отзыв

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/3.png", alt="Доктор Борменталь")
        a.plates__link(href="")

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/4.png", alt="Ростелеком")
        a.plates__link(href="")

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/5.png", alt="Доктор Мартин")
        a.plates__link(href="javascript:void(0)" data-modal='#modal-reviews-5') читать отзыв

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/6.png", alt="Витакон")
        a.plates__link(href="")

      //- Part 2

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/1.png", alt="Медицинский центр Елены Малышевой")
        a.plates__link(href="javascript:void(0)" data-modal='#modal-reviews-1') читать отзыв

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/2.png", alt="Московский ювелирный завод")
        a.plates__link(href="javascript:void(0)" data-modal='#modal-reviews-2') читать отзыв

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/3.png", alt="Доктор Борменталь")
        a.plates__link(href="")

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/4.png", alt="Ростелеком")
        a.plates__link(href="")

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/5.png", alt="Доктор Мартин")
        a.plates__link(href="javascript:void(0)" data-modal='#modal-reviews-5') читать отзыв

      .plates__item.js-clients-item
        img.plates__img(src="img/clients/companies/6.png", alt="Витакон")
        a.plates__link(href="")

    a.clients__btn.js-clients-btn(href="javascript:void(0)").
      <svg class="clients__btn-icon" width="20" height="14">
        <use xlink:href="#icon-clients"></use>
      </svg>
      Все клиенты

#modal-reviews-1.c-modal.js-modal
  a.c-modal__close(data-modal='close')

  .c-modal__content
    img.c-modal__img(src="img/clients/reviews/1.jpg", alt="")

#modal-reviews-2.c-modal.js-modal
  a.c-modal__close(data-modal='close')

  .c-modal__content
    img.c-modal__img(src="img/clients/reviews/1.jpg", alt="")

#modal-reviews-5.c-modal.js-modal
  a.c-modal__close(data-modal='close')

  .c-modal__content
    img.c-modal__img(src="img/clients/reviews/1.jpg", alt="")