-
  var clients = [
    {
      'img': 'img/clients/companies/1.png',
      'title': 'Медицинский центр Елены Малышевой',
      'state': ''
    },
    {
      'img': 'img/clients/companies/2.png',
      'title': 'Московский ювелирный завод',
      'state': ''
    },
    {
      'img': 'img/clients/companies/3.png',
      'title': 'Доктор Борменталь',
      'state': ''
    },
    {
      'img': 'img/clients/companies/4.png',
      'title': 'Ростелеком',
      'state': ''
    },
    {
      'img': 'img/clients/companies/5.png',
      'title': 'Доктор Мартин',
      'state': ''
    },
    {
      'img': 'img/clients/companies/6.png',
      'title': 'Витакон',
      'state': ''
    },
    {
      'img': 'img/clients/companies/7.png',
      'title': 'Доктор Куренкова',
      'state': ''
    },
    {
      'img': 'img/clients/companies/8.png',
      'title': 'M-Automatika',
      'state': ''
    },
    {
      'img': 'img/clients/companies/9.png',
      'title': 'Единый Центр Защиты',
      'state': ''
    },
    {
      'img': 'img/clients/companies/10.png',
      'title': 'ЭДЕНТАЛЬ',
      'state': ''
    },
    //- {
    //-   'img': 'img/clients/companies/11.png',
    //-   'title': 'ХОЛОДОВЪ Стоматология',
    //-   'state': ''
    //- },
    {
      'img': 'img/clients/companies/13.png',
      'title': 'ПрезиДЕНТ стоматологический комплекс',
      'state': ''
    },
    {
      'img': 'img/clients/companies/12.png',
      'title': 'Институт пластической хирургии',
      'state': ''
    }
  ];

section#clients.section.clients.js-clients
  .wrap
    h1.section__title.clients__title.line КЛИЕНТЫ

    .clients__plates
      each item in clients
        .plates__item.js-clients-item(class= state)
          //- a.plates__link(href="javascript:void(0)" data-modal='#modal-reviews-1') читать отзыв
          img.plates__img(src= item.img, alt= item.title)

    //- a.clients__btn.js-clients-btn(href="javascript:void(0)").
    //-   <svg class="clients__btn-icon" width="20" height="14">
    //-     <use xlink:href="#icon-clients"></use>
    //-   </svg>
    //-   Все&nbsp;клиенты

//- #modal-reviews-1.c-modal.js-modal
//-   a.c-modal__close(data-modal='close')

//-   .c-modal__content
//-     img.c-modal__img(src="img/clients/reviews/1.jpg", alt="")

//- #modal-reviews-2.c-modal.js-modal
//-   a.c-modal__close(data-modal='close')

//-   .c-modal__content
//-     img.c-modal__img(src="img/clients/reviews/1.jpg", alt="")

//- #modal-reviews-5.c-modal.js-modal
//-   a.c-modal__close(data-modal='close')

//-   .c-modal__content
//-     img.c-modal__img(src="img/clients/reviews/1.jpg", alt="")