footer.footer#footer
  .wrap
    p.footer__text.
      ООО "Доктор Борменталь"
      121059, г. Москва, Бережковская наб., д. 16 А
      ОГРН 1117746116278, Дата регистрации 18.02.2011 ИНН 7703737947 КПП 773001001
      Лицензия № ЛО-77-01-014425 от 14.06.2017

    //include php/footer.php