section#particles-js.main
	.main__asteroids-inner.js-asteroids-inner
	.main__asteroids-outer.js-asteroids-outer

	.wrap
		.main__rock
		h1.main__title.line.line--white ВСЕ ГРАНИ DIGITAL МАРКЕТИНГА
		h4.main__desc Комплексное продвижение ваших услуг в цифровом мире