section#methods.section.methods
  .wrap
    h1.section__title.methods__title.line МЕТОДИКИ

    .methods__plates
      .plates__double-row
        .plates__item.plates__item
          img.plates__img(src="img/methods/methods-1.svg", alt="Иконка метода")
          a.plates__hover(href="method-1.html")
            p.plates__text Лидогенерация

        .plates__item.plates__item
          img.plates__img(src="img/methods/methods-2.svg", alt="Иконка метода")
          a.plates__hover(href="method-2.html")
            p.plates__text Реклама в интернете

      .plates__item.plates__item
        img.plates__img(src="img/methods/methods-3.svg", alt="Иконка метода")
        a.plates__hover(href="method-3.html")
          p.plates__text Привлечение клиентов

      .plates__item.plates__item
        img.plates__img(src="img/methods/methods-4.svg", alt="Иконка метода")
        a.plates__hover(href="method-4.html")
          p.plates__text Лендинги и креативы


      .plates__item.plates__item-
        img.plates__img(src="img/methods/methods-5.svg", alt="Иконка метода")
        a.plates__hover(href="method-5.html")
          p.plates__text Оценка эффективности

      

      