section#team.section.team
  .wrap
    h1.section__title.team__title.line КОМАНДА

    .team__content
      .team__leaders
        h5.leaders__title Руководители

        .team__block
          img.block__img(src="img/team/1.jpg", alt="Волков Александр")
          .block__content
            h6.block__title Волков Александр
            p.block__desc Генеральный директор
            p.block__text.
              Великий стратег. Строгий, но справедливый

        .team__block
          img.block__img(src="img/team/1.jpg", alt="Упоров Валентин")
          .block__content
            h6.block__title Упоров Валентин
            p.block__desc Директор отдела маркетинга
            p.block__text.
              Маркетолог от бога. Без преувеличений

        .team__block
          img.block__img(src="img/team/1.jpg", alt="Семенов Владислав")
          .block__content
            h6.block__title Семенов Владислав
            p.block__desc Заместитель директора
            p.block__text.
              Ещё не нашёлся человек, с которым он не смог договориться

      .team__people.js-team
        h5.people__title Сотрудники

        .team__blocks.js-team-blocks
          .blocks__view.js-team-view
            .team__block.team__block--small
              img.block__img(src="img/team/4.jpg", alt="Дашиева Елена")
              .block__content
                h6.block__title Дашиева Елена
                p.block__desc Руководитель отдела

            .team__block.team__block--small.js-team-item
              img.block__img(src="img/team/4.jpg", alt="Анастасия Илюшкина")
              .block__content
                h6.block__title Анастасия Илюшкина
                p.block__desc Аккаунт-менеджер

            .team__block.team__block--small.js-team-item
              img.block__img(src="img/team/4.jpg", alt="Екатерина Кожина")
              .block__content
                h6.block__title Екатерина Кожина
                p.block__desc Аккаунт-менеджер

            .team__block.team__block--small.js-team-item
              img.block__img(src="img/team/4.jpg", alt="Галина Кан")
              .block__content
                h6.block__title Галина Кан
                p.block__desc Аккаунт-менеджер

            .team__block.team__block--small.js-team-item
              img.block__img(src="img/team/4.jpg", alt="Дмитрий Щемелинин")
              .block__content
                h6.block__title Дмитрий Щемелинин
                p.block__desc Аккаунт-менеджер

            .team__block.team__block--small.js-team-item
              img.block__img(src="img/team/4.jpg", alt="Дмитрий Щемелинин")
              .block__content
                h6.block__title Дмитрий Щемелинин
                p.block__desc Аккаунт-менеджер

            .team__block.team__block--small.js-team-item
              img.block__img(src="img/team/4.jpg", alt="Дмитрий Щемелинин")
              .block__content
                h6.block__title Дмитрий Щемелинин
                p.block__desc Аккаунт-менеджер

            .team__block.team__block--small.js-team-item
              img.block__img(src="img/team/4.jpg", alt="Дмитрий Щемелинин")
              .block__content
                h6.block__title Дмитрий Щемелинин
                p.block__desc Аккаунт-менеджер

          .blocks__control
            a.control__btn.control__btn--top(href="javascript:void(0)" data-team-top)
            a.control__btn.control__btn--bottom(href="javascript:void(0)" data-team-bottom)