-
  var tools_list = [
    {
      'title1': 'Настройка',
      'title2': 'Яндекс.Директ',
      'img': {
        'width': '22',
        'height': '46',
        'href': '#icon-tools-1'
      }
    },
    {
      'title1': 'Настройка',
      'title2': 'Google AdWords',
      'img': {
        'width': '43',
        'height': '46',
        'href': '#icon-tools-2'
      }
    },
    {
      'title1': 'Медийная',
      'title2': 'реклама',
      'img': {
        'width': '54',
        'height': '46',
        'href': '#icon-tools-3'
      }
    },
    {
      'title1': 'Генерация',
      'title2': 'трафика',
      'img': {
        'width': '45',
        'height': '46',
        'href': '#icon-tools-4'
      }
    },
    {
      'title1': 'Разработка',
      'title2': 'landing page',
      'img': {
        'width': '35',
        'height': '46',
        'href': '#icon-tools-5'
      }
    },
    {
      'title1': 'CPA',
      'title2': '',
      'img': {
        'width': '45',
        'height': '46',
        'href': '#icon-tools-6'
      }
    },
    {
      'title1': 'Дизайн',
      'title2': 'креативов',
      'img': {
        'width': '41',
        'height': '42',
        'href': '#icon-tools-7'
      }
    },
    {
      'title1': 'Видео-',
      'title2': 'продвижение',
      'img': {
        'width': '41',
        'height': '42',
        'href': '#icon-tools-8'
      }
    },
    {
      'title1': 'Таргетированная',
      'title2': 'реклама',
      'img': {
        'width': '45',
        'height': '26',
        'href': '#icon-tools-9'
      }
    },
  ];

section#tools.section.tools
  .wrap
    h1.section__title.tools__title.line ИНСТРУМЕНТЫ

    ul.tools__list
      each item in tools_list
        .list__item
          svg.list__icon(width= item.img.width height= item.img.height)
            use(xlink:href= item.img.href)
          p.list__title
            span= item.title1
            br
            span= item.title2

    a.c-btn.c-btn--arrow--purple.tools__btn(href='tools.html') подробнее
      svg.c-btn__arrow(width="59" height="15")
        use(xlink:href="#icon-arrow")