section#tools.section.tools
  .wrap
    h1.section__title.tools__title.line ИНСТРУМЕНТЫ

    ul.tools__list
      .list__item
        svg.list__icon(width="22" height="46")
          use(xlink:href="#icon-tools-1")
        p.list__title.
          Настройка<br>
          Яндекс.Директ

      .list__item
        svg.list__icon(width="43" height="46")
          use(xlink:href="#icon-tools-2")
        p.list__title.
          Настройка<br>
          Google AdWords

      .list__item
        svg.list__icon(width="54" height="46")
          use(xlink:href="#icon-tools-3")
        p.list__title.
          Медийная<br>
          реклама

      .list__item
        svg.list__icon(width="45" height="46")
          use(xlink:href="#icon-tools-4")
        p.list__title.
          Генерация<br>
          трафика

      .list__item
        svg.list__icon(width="35" height="46")
          use(xlink:href="#icon-tools-5")
        p.list__title.
          Разработка<br>
          landing page

      .list__item
        svg.list__icon(width="45" height="46")
          use(xlink:href="#icon-tools-6")
        p.list__title.
          CPA

      .list__item
        svg.list__icon(width="41" height="42")
          use(xlink:href="#icon-tools-7")
        p.list__title.
          Дизайн<br>
          креативов

      .list__item
        svg.list__icon(width="41" height="42")
          use(xlink:href="#icon-tools-8")
        p.list__title.
          Видео-<br>
          продвижение

      .list__item
        svg.list__icon(width="45" height="26")
          use(xlink:href="#icon-tools-9")
        p.list__title.
          Таргетированная<br>
          реклама

    a.c-btn.c-btn--arrow--purple.tools__btn(href='tools-inner.html') подробнее
      svg.c-btn__arrow(width="59" height="15")
        use(xlink:href="#icon-arrow")