.footer
  padding: 40px 0
  width: 100%
  background: white

  .wrap
    display: grid
    grid-template-columns: minmax(auto, 570px)
    grid-gap: 0
    justify-content: center
    text-align: center

    *
      text-align: center
      font-size: 14px
      line-height: 18px
      color: $color-grey-light