.tools-inner
	background: url('../img/tools/background.jpg') center no-repeat
	background-size: 1920px

	.wrap
		padding-left: 15px

	&__title
		margin-left: 0
	
	&__list
		width: 100%
		display: grid
		grid-template-columns: auto
		grid-gap: 5px

	.list
		&__item
			display: grid

		&__header
			display: grid
			background: rgba($color-blue-light, 0.2)
			grid-template-columns: auto auto
			grid-gap: 15px
			justify-items: start
			justify-content: start
			align-content: center
			align-items: center
			padding: 10px 15px
			cursor: pointer
			min-height: 66px
			transition: all 0.5s

			&.active
				background: $color-blue-light

				.list__icon
					fill: white

				.list__title
					color: white

			&:hover
				background: $color-blue-light
				
				.list__icon
					fill: white

				.list__title
					color: white

		&__icon
			fill: $color-blue-light
			pointer-events: none

		&__title
			font-weight: bold
			pointer-events: none
	 
		&__article
			display: grid
			align-content: start
			align-items: start
			grid-gap: 15px
			transition: all 1s
			overflow: hidden
			max-height: 0
			padding: 0 25px

			&.active
				max-height: 700px
				padding: 10px 25px

			.article
				&__title
					font-weight: bold