.c-counter.js-counter(
  data-counter-inc="1"
  data-counter-dir="from"
  data-counter-speed="20000"
  data-counter-start="99"
)
  p.c-counter__text Осталось свободных мест
  h1.c-counter__number(data-counter="number") 99