.c-slider.js-slider
  .c-slider__arrows
    a.c-slider__arrowPrev(href="javascript:void(0)")
    a.c-slider__arrowNext(href="javascript:void(0)")

  .c-slider__view
    .c-slider__item.prevHide
      img(src="https://i1.sndcdn.com/artworks-000165384395-rhrjdn-t500x500.jpg", alt="Image")

    .c-slider__item.prevHide
      img(src="https://i1.sndcdn.com/artworks-000185743981-tuesoj-t500x500.jpg", alt="Image")

    .c-slider__item.prev
      img(src="https://i1.sndcdn.com/artworks-000158708482-k160g1-t500x500.jpg", alt="Image")

    .c-slider__item.current
      img(src="https://i1.sndcdn.com/artworks-000062423439-lf7ll2-t500x500.jpg", alt="Image")

    .c-slider__item.next
      img(src="https://i1.sndcdn.com/artworks-000028787381-1vad7y-t500x500.jpg", alt="Image")

    .c-slider__item.nextHide
      img(src="https://i1.sndcdn.com/artworks-000108468163-dp0b6y-t500x500.jpg", alt="Image")

    .c-slider__item.nextHide
      img(src="https://i1.sndcdn.com/artworks-000064920701-xrez5z-t500x500.jpg", alt="Image")