include header-page

-
  var case_article = [
    {
      'title': 'Цели и задачи',
      'text': `Разработка и запуск акции для одной из процедур клиники`
    },
    {
      'title': 'Результат',
      'text': `Создано 3 лендинга, за 2 месяца акции «Код Крови»
              привлечено 1 055 новых клиентов. Цена заявки 700 ₽`
    }
  ];

  var case_stats = [
    {
      'img': 'img/cases/stats/1.svg',
      'text': `Длительность акции <b>2&nbsp;месяца</b>`
    },
    {
      'img': 'img/cases/stats/2.svg',
      'text': `<b>1055</b> заявок`
    },
    {
      'img': 'img/cases/stats/3.svg',
      'text': `Более <b>500</b> новых постоянных клиентов`
    },
    {
      'img': 'img/cases/stats/4.svg',
      'text': `<b>3</b> новых лендингов`
    },
    {
      'img': 'img/cases/stats/5.svg',
      'text': `Цена заявки <b>700&nbsp;₽</b>`
    },
    {
      'img': 'img/cases/stats/6.svg',
      'text': `Цена клиента <b>от 4&nbsp;500</b> до <b>12&nbsp;000&nbsp;₽</b>`
    },
  ];

section#case.section.case
  .wrap
    h1.section__title.case__title.line КЕЙСЫ

    ul.c-breadcrumbs.case__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#cases") Кейсы
      li.c-breadcrumbs__item
        a(href="") Код крови

    article.case__article
      img.case__img(src='img/cases/4.jpg', alt="Картинка кейса")

      each item in case_article
        h4.case__title= item.title
        p.case__text !{item.text}

      ul.case__stats
        each item in case_stats
          li.stats__item
            img.stats__icon(src= item.img, alt="Иконка")
            p.stats__text !{item.text}

include footer