include header-page

-
  var case_article = [
    {
      'title': 'Цели и задачи',
      'text': `Увеличение количества заказов, расширение
              спектра предоставляемых услуг, запуск кампании в Яндекс.Директ`
    },
    {
      'title': 'Результат',
      'text': `Разработан новый логотип компании, создано 4
              лендинга под разные ЦА, к ним подключена CRM-система
              и виртуальный номер для динамического call-трекинга.
              Запущены 4 рекламные кампании в Яндекс.Директ.
              За 2 месяца сгенерировано больше 200 лидов. Средняя
              стоимость лида 1 090 ₽. Approve — 70%.
              73 новых заказа за 2 месяца.`
    }
  ];

  var case_stats = [
    {
      'img': 'img/cases/stats/1.svg',
      'text': `Длительность акции <b>2&nbsp;месяца</b>`
    },
    {
      'img': 'img/cases/stats/2.svg',
      'text': `<b>200</b> заявок`
    },
    {
      'img': 'img/cases/stats/3.svg',
      'text': `Более <b>50</b> новых постоянных клиентов`
    },
    {
      'img': 'img/cases/stats/4.svg',
      'text': `<b>4</b> новых лендинга`
    },
    {
      'img': 'img/cases/stats/5.svg',
      'text': `Цена заявки <b>1090&nbsp;₽</b>`
    },
    {
      'img': 'img/cases/stats/6.svg',
      'text': `Цена клиента <b>от 4&nbsp;500</b> до <b>12&nbsp;000&nbsp;₽</b>`
    },
  ];

section#case.section.case
  .wrap
    h1.section__title.case__title.line КЕЙСЫ

    ul.c-breadcrumbs.case__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#cases") Кейсы
      li.c-breadcrumbs__item
        a(href="") Стоматология

    article.case__article
      img.case__img(src='img/cases/8.jpg', alt="Картинка кейса")

      each item in case_article
        h4.case__title= item.title
        p.case__text !{item.text}

      ul.case__stats
        each item in case_stats
          li.stats__item
            img.stats__icon(src= item.img, alt="Иконка")
            p.stats__text !{item.text}

include footer