include head

section#case.section.case
  .wrap
    h1.section__title.case__title.line КЕЙСЫ

    ul.c-breadcrumbs.case__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#cases") Кейсы
      li.c-breadcrumbs__item
        a(href="") Винтажное похудение

    article.case__article
      img.case__img(src='img/cases/7.jpg', alt="Картинка кейса")
      h4.case__title Цели и задачи
      p.case__text.
        Увеличение количества заказов, расширение спектра предоставляемых услуг, запуск кампании в Яндекс.Директ
      h4.case__title Результат
      p.case__text.
        Разработан новый логотип компании, создано 4 лендинга под разные ЦА, к ним подключена CRM-система и виртуальный номер для динамического call-трекинга. Запущены 4 рекламные кампании в Яндекс.Директ. За 2 месяца сгенерировано больше 200 лидов. Средняя стоимость лида 1 090 ₽. Approve — 70%. 73 новых заказа за 2 месяца.

      ul.case__stats
        li.stats__item
          img.stats__icon(src="img/cases/stats/1.svg", alt="Иконка")
          p.stats__text.
            Длительность акции <b>2&nbsp;месяца</b>
        
        li.stats__item
          img.stats__icon(src="img/cases/stats/2.svg", alt="Иконка")
          p.stats__text.
            <b>200</b> заявок

        li.stats__item
          img.stats__icon(src="img/cases/stats/3.svg", alt="Иконка")
          p.stats__text.
            Более <b>50</b> новых постоянных клиентов

        li.stats__item
          img.stats__icon(src="img/cases/stats/4.svg", alt="Иконка")
          p.stats__text.
            <b>4</b> новых лендинга

        li.stats__item
          img.stats__icon(src="img/cases/stats/5.svg", alt="Иконка")
          p.stats__text.
            Цена заявки <b>1090&nbsp;₽</b>

        li.stats__item
          img.stats__icon(src="img/cases/stats/6.svg", alt="Иконка")
          p.stats__text.
            Цена клиента <b>от 4&nbsp;500</b> до <b>12&nbsp;000&nbsp;₽</b>

include footer