include head

section#case.section.case
  .wrap
    h1.section__title.case__title.line КЕЙСЫ

    ul.c-breadcrumbs.case__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#cases") Кейсы
      li.c-breadcrumbs__item
        a(href="") Лечение позвоночника

    article.case__article
      img.case__img(src='img/cases/5.jpg', alt="Картинка кейса")
      h4.case__title Цели и задачи
      p.case__text.
        Разработка и запуск акции для новой процедуры клиники
      h4.case__title Результат
      p.case__text.
        Создано 4 лендинга, за 3 месяца акции привлечено 1 370 новых клиентов. Цена заявки 1 100 ₽

      ul.case__stats
        li.stats__item
          img.stats__icon(src="img/cases/stats/1.svg", alt="Иконка")
          p.stats__text.
            Длительность акции <b>3&nbsp;месяца</b>
        
        li.stats__item
          img.stats__icon(src="img/cases/stats/2.svg", alt="Иконка")
          p.stats__text.
            <b>1370</b> заявок

        li.stats__item
          img.stats__icon(src="img/cases/stats/3.svg", alt="Иконка")
          p.stats__text.
            Более <b>600</b> новых постоянных клиентов

        li.stats__item
          img.stats__icon(src="img/cases/stats/4.svg", alt="Иконка")
          p.stats__text.
            <b>4</b> новых лендинга

        li.stats__item
          img.stats__icon(src="img/cases/stats/5.svg", alt="Иконка")
          p.stats__text.
            Цена заявки <b>1100&nbsp;₽</b>

        li.stats__item
          img.stats__icon(src="img/cases/stats/6.svg", alt="Иконка")
          p.stats__text.
            Цена клиента <b>от 4&nbsp;500</b> до <b>12&nbsp;000&nbsp;₽</b>

include footer