include head

section#case.section.case
  .wrap
    h1.section__title.case__title.line КЕЙСЫ

    ul.c-breadcrumbs.case__breadcrumbs
      li.c-breadcrumbs__item
        a(href="/") Главная
      li.c-breadcrumbs__item
        a(href="/index.html#cases") Кейсы
      li.c-breadcrumbs__item
        a(href="") МЮЗ

    article.case__article
      img.case__img(src='img/cases/2.jpg', alt="Картинка кейса")
      h4.case__title Цели и задачи
      p.case__text.
        Запуск акции на 1 месяц.<br>
        Приглашение новых клиентов в салон.
      h4.case__title Результат
      p.case__text.
        За месяц акции «Ложка загребушка в подарок» привлечено 1200 новых клиентов. Цена заявки 500 ₽.

      ul.case__stats
        li.stats__item
          img.stats__icon(src="img/cases/stats/1.svg", alt="Иконка")
          p.stats__text.
            Длительность акции <b>1&nbsp;месяц</b>
        
        li.stats__item
          img.stats__icon(src="img/cases/stats/2.svg", alt="Иконка")
          p.stats__text.
            <b>1200</b> заявок

        li.stats__item
          img.stats__icon(src="img/cases/stats/3.svg", alt="Иконка")
          p.stats__text.
            Более <b>20&nbsp;000</b> новых постоянных клиентов

        li.stats__item
          img.stats__icon(src="img/cases/stats/4.svg", alt="Иконка")
          p.stats__text.
            <b>15</b> новых лендингов

        li.stats__item
          img.stats__icon(src="img/cases/stats/5.svg", alt="Иконка")
          p.stats__text.
            Цена заявки <b>500&nbsp;₽</b>

        li.stats__item
          img.stats__icon(src="img/cases/stats/6.svg", alt="Иконка")
          p.stats__text.
            Цена клиента <b>от 4&nbsp;500</b> до <b>12&nbsp;000&nbsp;₽</b>

include footer