header.header.js-header
	.wrap
		a.header__logo(href='/')
			img(src='http://audiopohudenie.ru/img/adamant/adamant.svg' width='154' height='47' alt='Логотип Adamant Media Group')

		a.header__menu-btn.js-menu-btn(href="javascript:void(0)")
			<svg class="header__menu-icon" width="26" height="24">
				<use xlink:href="#icon-menu"></use>
			</svg>

		nav.header__nav.js-menu(role='navigation')
			a.nav__item.nav__phone(href='tel:+74991120777') +7 (499) 112 0 777
			a.nav__item.js-menu-item(href='index.html#about') о&nbsp;компании
			a.nav__item.js-menu-item(href='index.html#tools') инструменты
			a.nav__item.js-menu-item(href='index.html#methods') методики
			a.nav__item.js-menu-item(href='index.html#cases') кейсы
			a.nav__item.js-menu-item(href='index.html#clients') клиенты
			a.nav__item.js-menu-item(href='index.html#footer') контакты

		a.c-btn.c-btn--main--icon--phone.header__btn(href='tel:+74991120777').
			<svg class="header__phone-icon" width="25" height="22">
				<use xlink:href="#icon-phone"></use>
			</svg>
			+7 (499) 112 0 777