include head

include blocks/main
include blocks/about
+about
  a.c-btn.c-btn--arrow--purple.about__btn(href='about.html') подробнее
    svg.c-btn__arrow(width="59" height="15")
      use(xlink:href="#icon-arrow")
include blocks/tools
include blocks/methods
include blocks/cases
include blocks/clients

include footer