//include blocks/php/before.php
doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width' initial-scale=1.0)
    meta(name='author' content='ParselleDev')
    meta(name='contact' content='parselledev@gmail.com')
    meta(name="theme-color" content="#31add7")
    link(href='css/main.css' rel='stylesheet' )
    link(href='https://fonts.googleapis.com/css?family=Roboto:400,500,700' rel='stylesheet')
    script(async src='js/main.js')
    title {Gencode}

    //include blocks/php/head.php

  body.p-home

    include blocks/header
    include blocks/footer

    //include blocks/php/after.php