|<?php
|	//var_dump($_SERVER);
|
|	$request_uri = $_SERVER["REQUEST_URI"];
|	if ($request_uri=="/") {
|			$request_uri = $request_uri."index_content";
|	}
|	//echo $request_uri."\n";
|	//echo $_SERVER["DOCUMENT_ROOT"].$request_uri.".php"."\n";
|	if (is_file($_SERVER["DOCUMENT_ROOT"].$request_uri.".php")) {
|			include_once $_SERVER["DOCUMENT_ROOT"].$request_uri.".php";
|	}
|	else {
|	//    var_dump($_SERVER);
|	//    echo $request_uri."\n";
|	//    echo $_SERVER["DOCUMENT_ROOT"].$request_uri.".php"."\n";
|			header("HTTP/1.0 404 Not Found");
|			echo "Page not exist";
|	}
|
|	exit();
|?>