include head

section#tools-inner.section.tools-inner.js-tools
  .wrap
    h1.section__title.tools-inner__title.line ИНСТРУМЕНТЫ

    ul.tools-inner__list
      .list__item.active
        .list__header
          svg.list__icon(width="22" height="46")
            use(xlink:href="#icon-tools-1")
          p.list__title.
            Настройка Яндекс.Директ
        article.list__article
          h4.article__title НАСТРОЙКА ЯНДЕКС.ДИРЕКТ

          p.article__text.
            Контекстная реклама — один из самых быстрых, недорогих и
            эффективных способов донести информацию о товаре
            или услуге до вашей целевой аудитории.

          p.article__text.
            Мы делаем всё, начиная от аудита вашего сайта и заканчивая
            ведением ваших компаний в Яндекс.Директе.

          p.article__text.
            Правильная настройка Яндекс.Директ — это
            гарантированные новые клиенты!

      .list__item
        .list__header
          svg.list__icon(width="43" height="46")
            use(xlink:href="#icon-tools-2")
          p.list__title.
            Настройка Google AdWords

      .list__item
        .list__header
          svg.list__icon(width="54" height="46")
            use(xlink:href="#icon-tools-3")
          p.list__title.
            Медийная реклама

      .list__item
        .list__header
          svg.list__icon(width="45" height="46")
            use(xlink:href="#icon-tools-4")
          p.list__title.
            Генерация трафика

      .list__item
        .list__header
          svg.list__icon(width="35" height="46")
            use(xlink:href="#icon-tools-5")
          p.list__title.
            Разработка landing page

      .list__item
        .list__header
          svg.list__icon(width="45" height="46")
            use(xlink:href="#icon-tools-6")
          p.list__title.
            CPA

      .list__item
        .list__header
          svg.list__icon(width="41" height="42")
            use(xlink:href="#icon-tools-7")
          p.list__title.
            Дизайн креативов

      .list__item
        .list__header
          svg.list__icon(width="41" height="42")
            use(xlink:href="#icon-tools-8")
          p.list__title.
            Видео-продвижение

      .list__item
        .list__header
          svg.list__icon(width="45" height="26")
            use(xlink:href="#icon-tools-9")
          p.list__title.
            Таргетированная реклама

    a.c-btn.c-btn--arrow--purple.tools-inner__btn(href='#footer') оставить заявку
      svg.c-btn__arrow(width="59" height="15")
        use(xlink:href="#icon-arrow")

include footer