include head

section#tools-inner.section.tools-inner.js-tools
  .wrap
    h1.section__title.tools-inner__title.line ИНСТРУМЕНТЫ

    ul.tools-inner__list
      #tools-item-1.list__item.js-tools-item
        .list__header.active.js-tools-header
          svg.list__icon(width="22" height="46")
            use(xlink:href="#icon-tools-1")
          p.list__title.
            Настройка Яндекс.Директ
        article.list__article.active.js-tools-article
          h4.article__title НАСТРОЙКА ЯНДЕКС.ДИРЕКТ

          p.article__text.
            Контекстная реклама — один из самых быстрых, недорогих и
            эффективных способов донести информацию о товаре
            или услуге до вашей целевой аудитории.

          p.article__text.
            Мы делаем всё, начиная от аудита вашего сайта и заканчивая
            ведением ваших компаний в Яндекс.Директе.

          p.article__text.
            Правильная настройка Яндекс.Директ — это
            гарантированные новые клиенты!

      #tools-item-2.list__item.js-tools-item
        .list__header.js-tools-header
          svg.list__icon(width="43" height="46")
            use(xlink:href="#icon-tools-2")
          p.list__title.
            Настройка Google AdWords
        article.list__article.js-tools-article
          h4.article__title НАСТРОЙКА GOOGLE.ADWORDS

          p.article__text.
            Контекстная реклама так же и самый эффективный
             способ донести нужную информацию прямо до вашей
             целевой аудитории.

          p.article__text.
            Google Adwords — это антагонист Яндекс.Директ. С ним мы то
            же делаем всё от и до, но тут вы уже получите других новых клиентов.

          p.article__text.
            Используя Google Adwords + Яндекс.Директ ваша целевая
            аудитория охватывается максимально!

      #tools-item-3.list__item.js-tools-item
        .list__header.js-tools-header
          svg.list__icon(width="54" height="46")
            use(xlink:href="#icon-tools-3")
          p.list__title.
            Медийная реклама
        article.list__article.js-tools-article
          h4.article__title МЕДИЙНАЯ РЕКЛАМА

          p.article__text.
            Люди всё больше смотрят и читают новости в интернете.
            И медийная реклама этот тренд использует. Баннеры,
            видеоролики, брандирование, текстово-графические блоки
            — со всем этим мы легко управляемся.

          p.article__text.
            Основной плюс медийной рекламы — это более
            четкая ориентация на целевую аудиторию.

      #tools-item-4.list__item.js-tools-item
        .list__header.js-tools-header
          svg.list__icon(width="45" height="46")
            use(xlink:href="#icon-tools-4")
          p.list__title.
            Генерация трафика
        article.list__article.js-tools-article
          h4.article__title ГЕНЕРАЦИЯ ТРАФИКА

          p.article__text.
            Трафик — это живые люди, приходящие на ваш сайт.
            Тут всё просто — чем их больше, тем лучше.

          p.article__text.
            Мы создаём потоки трафика и ими управляем. Можем увеличивать,
            перенаправлять, разделять и даже уменьшать (если нужно).

      #tools-item-5.list__item.js-tools-item
        .list__header.js-tools-header
          svg.list__icon(width="35" height="46")
            use(xlink:href="#icon-tools-5")
          p.list__title.
            Разработка landing page
        article.list__article.js-tools-article
          h4.article__title РАЗРАБОТКА LANDING PAGE

          p.article__text.
            У вас есть сайт? Прекрасно, но он не для продаж, а для информации.

          p.article__text.
            Чтобы продавать товары или услуги вам нужен
            правильный лендинг и, возможно, не один.

          p.article__text.
            Мы делаем много лендингов для себя, тестируем и улучшаем их.
            С удовольствием сделаем и для Вас — качественный, с хорошей
            конверсией и понятный вашим будущим клиентам.

      #tools-item-6.list__item.js-tools-item
        .list__header.js-tools-header
          svg.list__icon(width="45" height="46")
            use(xlink:href="#icon-tools-6")
          p.list__title.
            CPA
        article.list__article.js-tools-article
          h4.article__title НАСТРОЙКА ЯНДЕКС.ДИРЕКТ

          p.article__text.
            Схема Cost Per Action (Оплата За Действие), с оплатой только
            за целевые действия, приносящие прибыль заказчику.

          p.article__text.
            В этой теме мы работаем больше семи лет и опыта у нас предостаточно.

      #tools-item-7.list__item.js-tools-item
        .list__header.js-tools-header
          svg.list__icon(width="41" height="42")
            use(xlink:href="#icon-tools-7")
          p.list__title.
            Дизайн креативов
        article.list__article.js-tools-article
          h4.article__title ДИЗАЙН КРЕАТИВОВ

          p.article__text.
            Дизайном и вёрсткой мы занимаемся сами. И практические рекомендации
            по креативам то же даём. Поэтому наши рекламные материалы
            работают максимально эффективно.

      #tools-item-8.list__item.js-tools-item
        .list__header.js-tools-header
          svg.list__icon(width="41" height="42")
            use(xlink:href="#icon-tools-8")
          p.list__title.
            Видео-продвижение
        article.list__article.js-tools-article
          h4.article__title ВИДЕОПРОДВИЖЕНИЕ

          p.article__text.
            Видео хорошо привлекает внимание целевой аудитории, даёт хороший
            «вирусный» эффект. Но, это должен быть не просто ролик.
            Представьте себе «Титаник» длительностью в 1 минуту,
            с эмоциями и понятным сюжетом.

          p.article__text.
            Вот такие микрошедевры мы и создаём. Для вас.

      #tools-item-9.list__item.js-tools-item
        .list__header.js-tools-header
          svg.list__icon(width="45" height="26")
            use(xlink:href="#icon-tools-9")
          p.list__title.
            Таргетированная реклама
        article.list__article.js-tools-article
          h4.article__title ТАРГЕТИРОВАННАЯ РЕКЛАМА

          p.article__text.
            Для кого то социальные сети — зло, а для нас — клондайк,
            там же миллионы людей!

          p.article__text.
            Таргетированная реклама в социальных сетях позволяет очень
            точно подобрать целевую адиторию по многим параметрам
            и привести их на ваш сайт. Если вы умеете с ней работать. Мы — умеем.

    a.c-btn.c-btn--arrow--purple.tools-inner__btn(href='#footer') оставить заявку
      svg.c-btn__arrow(width="59" height="15")
        use(xlink:href="#icon-arrow")

include footer