.c-btn
  display: grid
  justify-items: center
  justify-content: center
  align-items: center
  text-decoration: none
  text-align: center
  cursor: pointer
  outline: none
  transition: 0.15s

  //Size
  +mod('--main')
    width: 270px
    min-height: 45px
    padding: 5px 10px
    border-radius: 5px
    border: none
    font-size: 24px
    font-weight: bold
    border-radius: 22.5px

    +on-event
      transform: translateY(-2px)
      animation: none !important

  +mod('--icon')
    grid-template-columns: 25px auto
    grid-gap: 5px

  //Color
  +mod('--red')
    background: $color-danger
    color: white

    +on-event
      background: darken($color-danger, 5%)
      transform: scale(0.98)

    +mod('--pulse')
      animation: pulse-red 1.5s ease infinite

    @keyframes pulse-red
      0%
        box-shadow: 0px 0px 0px 0px $color-danger
      100%
        box-shadow: 0px 0px 10px 15px rgba($color-danger, 0)

  +mod('--white')
    background: white
    color: $color-green

    +on-event
      background: darken(white, 5%)
      transform: scale(0.98)

    +mod('--pulse')
      animation: pulse-red 1.5s ease infinite

    @keyframes pulse-red
      0%
        box-shadow: 0px 0px 0px 0px white
      100%
        box-shadow: 0px 0px 10px 15px rgba(white, 0)

  //Extensions
  +mod('--wide')
    width: 100%

    +on-event
      animation: none

    