.c-input
  width: 100%
  min-height: 58px
  padding: 10px 15px
  border: 3px solid #dadada
  outline: none
  transition: all 0.3s
  -moz-appearance: none
  -webkit-appearance: none
  font-size: 18px
  resize: none

  &:-moz-focusring
    color: transparent
    text-shadow: 0 0 0 #000
  &::-ms-expand
    display: none

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button
    -webkit-appearance: none
    margin: 0

  &::placeholder
    color: #999999

  +on-event
    box-shadow: 0px 0px 0px 1px $color-blue-light
    border-color: $color-blue-light

  &:focus
    box-shadow: 0px 0px 0px 1px $color-purple
    border-color: $color-purple

  &--select
    cursor: pointer